.profileContentChild {
  width: 1389px;
  height: 466px;
  position: relative;
  box-shadow: 0 4px 4px rgba(252, 28, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--background-color);
  border: 1px solid var(--color-mistyrose);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.skills1,
.skillsIcon {
  position: relative;
  z-index: 1;
}
.skillsIcon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.skills1 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 74px;
}
.skills,
.skillsLabel,
.skillsRow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.skillsLabel {
  flex-direction: row;
  padding: 0 var(--padding-13xl);
}
.skills,
.skillsRow {
  flex-direction: column;
}
.skills {
  gap: var(--gap-3xl);
}
.skillsRow {
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 200px;
}
.ridhimaSen {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.consultingLeader {
  flex: 1;
  position: relative;
  z-index: 2;
}
.nameRow,
.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-8xs) 0 var(--padding-11xs);
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-aktivgrotesk-regular);
}
.nameRow {
  width: 174px;
  flex-direction: column;
}
.grommetIconsuserExpert {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.fluentMdl2calendarYearIcon,
.fluentpayment20RegularIcon {
  position: absolute;
  top: 0;
  left: 1px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  z-index: 1;
}
.fluentpayment20RegularIcon {
  top: 38px;
  left: 0;
}
.yearsIcon {
  height: 58px;
  width: 21px;
  position: relative;
}
.yearsRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.badgeContent,
.expertRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.expertRow {
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.badgeContent {
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
}
.qualifiedInStartup {
  width: 247px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.yearsOfExperience {
  flex: 1;
  position: relative;
  z-index: 1;
}
.experienceFeeLabel {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-6xs);
}
.consultationFee1000 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.experienceFeeLabel1 {
  width: 208px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.experienceBadge,
.experienceFee,
.experienceFeeLabel1 {
  display: flex;
  justify-content: flex-start;
}
.experienceFee {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xl);
  min-width: 196px;
}
.experienceBadge {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-mini);
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-aktivgrotesk-regular);
}
.nameTitle {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
  min-width: 220px;
}
.consultantCard,
.nameTitle,
.profileInfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.consultantCard {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-6xl);
}
.profileInfo {
  width: 563px;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  min-width: 563px;
}
.separator {
  height: 244px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-silver);
  box-sizing: border-box;
  z-index: 1;
}
.consultationPrices {
  margin: 0;
  width: 275px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.arcticonspriceconverter {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.minSession1 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.minSessionLabel {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.minSession,
.minSessionIcon,
.minSessionLabel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.minSessionIcon {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.minSession {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 109px;
}
.arcticonspriceconverter1 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.hourlySessionIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.hrSession {
  flex: 1;
  position: relative;
  z-index: 1;
}
.hourlySession {
  flex: 0.8929;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  min-width: 109px;
}
.letsIconstimeLight {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.availability {
  position: relative;
  display: inline-block;
  min-width: 97px;
  z-index: 1;
}
.availabilityRow,
.optionRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.optionRow {
  align-self: stretch;
  gap: var(--gap-mini);
}
.div {
  position: relative;
  display: inline-block;
  min-width: 59px;
  white-space: nowrap;
  z-index: 1;
}
.priceSymbols {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.div1 {
  position: relative;
  display: inline-block;
  min-width: 59px;
  white-space: nowrap;
  z-index: 1;
}
.priceSymbols1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.monSat {
  width: 81px;
  position: relative;
  display: inline-block;
  min-width: 81px;
  z-index: 1;
}
.sessionFee,
.sessionFeeLabel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.sessionFeeLabel {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.sessionFee {
  width: 471px;
  justify-content: flex-end;
  padding: 0 var(--padding-sm);
  box-sizing: border-box;
  margin-top: -3px;
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-bold);
}
.options,
.priceHeader,
.priceOptions {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.options {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.priceHeader,
.priceOptions {
  align-self: stretch;
  align-items: flex-start;
}
.priceOptions {
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  color: var(--text-secondary);
  font-family: var(--font-aktivgrotesk-regular);
}
.priceHeader {
  flex-direction: column;
  gap: var(--gap-base);
}
.bookNowButtonChild {
  height: 55px;
  width: 300px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--primary);
  display: none;
}
.bookNow {
  width: 157px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.bookButtonContainer,
.bookNowButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.bookNowButton {
  flex: 1;
  border-radius: var(--br-21xl);
  background-color: var(--primary);
  padding: var(--padding-4xs) var(--padding-37xl) var(--padding-3xs);
  white-space: nowrap;
  z-index: 1;
}
.bookButtonContainer {
  width: 380px;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  max-width: 100%;
  color: var(--background-color);
  font-family: var(--font-aktivgrotesk-bold);
}
.prices {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-68xl);
  max-width: 100%;
}
.priceContainer,
.profileDetails,
.separatorParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.priceContainer {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  min-width: 319px;
}
.profileDetails,
.separatorParent {
  flex-direction: row;
}
.separatorParent {
  width: 516px;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 516px;
}
.profileDetails {
  width: 1195px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.serviceItemsChild {
  height: 50px;
  width: 244px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-lavenderblush);
  border: 2px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  display: none;
}
.marketingConsulting {
  flex: 1;
  position: relative;
  z-index: 2;
}
.accountConsultingItemChild,
.serviceItems {
  width: 244px;
  border-radius: var(--br-21xl);
  background-color: var(--color-lavenderblush);
  border: 2px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
}
.serviceItems {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-4xl) var(--padding-3xs);
  white-space: nowrap;
  z-index: 1;
}
.accountConsultingItemChild {
  height: 50px;
  position: relative;
  display: none;
}
.accountsConsulting {
  width: 191px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.accountConsultingContainer,
.accountConsultingItem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.accountConsultingItem {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--color-lavenderblush);
  border: 2px solid var(--color-whitesmoke-200);
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-4xl) var(--padding-3xs);
  white-space: nowrap;
  z-index: 1;
}
.accountConsultingContainer {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
  min-width: 164px;
}
.serviceItemsItem {
  height: 50px;
  width: 244px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-lavenderblush);
  border: 2px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  display: none;
}
.buisnessConsulting {
  width: 186px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.frameChild,
.serviceItems1 {
  width: 244px;
  border-radius: var(--br-21xl);
  background-color: var(--color-lavenderblush);
  border: 2px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
}
.serviceItems1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-4xl) var(--padding-3xs);
  white-space: nowrap;
  z-index: 1;
}
.frameChild {
  height: 50px;
  position: relative;
  display: none;
}
.buisnessConsulting1 {
  width: 186px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.rectangleParent,
.serviceItems2 {
  display: flex;
  align-items: flex-start;
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--color-lavenderblush);
  border: 2px solid var(--color-whitesmoke-200);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-4xl) var(--padding-3xs);
  white-space: nowrap;
  z-index: 1;
}
.serviceItems2 {
  flex: 0.9683;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 var(--padding-base) var(--padding-11xs) 0;
  box-sizing: border-box;
  min-width: 169px;
}
.frameItem {
  height: 50px;
  width: 244px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-lavenderblush);
  border: 2px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  display: none;
}
.buisnessConsulting2 {
  width: 186px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.rectangleGroup,
.serviceItems3 {
  display: flex;
  align-items: flex-start;
}
.rectangleGroup {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--color-lavenderblush);
  border: 2px solid var(--color-whitesmoke-200);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-4xl) var(--padding-3xs);
  white-space: nowrap;
  z-index: 1;
}
.serviceItems3 {
  width: 244px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.services {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-sm);
  max-width: 100%;
}
.servicesWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-6xl);
  font-size: var(--font-size-xl);
  color: var(--primary);
  font-family: var(--font-aktivgrotesk-regular);
}
.consultantProfile,
.profileContent,
.servicesWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.profileContent {
  flex: 1;
  box-shadow: 0 4px 4px rgba(252, 28, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--background-color);
  border: 1px solid var(--color-mistyrose);
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-11xl) var(--padding-69xl)
    var(--padding-13xl);
  gap: var(--gap-lgi);
}
.consultantProfile {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-4xl) var(--padding-21xl) var(--padding-9xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-medium);
}
@media screen and (max-width: 1225px) {
  .profileInfo,
  .separatorParent {
    flex: 1;
  }
  .profileDetails {
    flex-wrap: wrap;
  }
  .accountConsultingContainer,
  .serviceItems2 {
    flex: 1;
  }
  .services {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .skills1 {
    font-size: var(--font-size-5xl);
  }
  .skillsRow {
    flex: 1;
  }
  .ridhimaSen {
    font-size: var(--font-size-5xl);
  }
  .consultantCard {
    flex-wrap: wrap;
  }
  .profileInfo {
    min-width: 100%;
  }
  .separator {
    width: 100%;
    height: 1px;
  }
  .consultationPrices {
    font-size: var(--font-size-5xl);
  }
  .optionRow {
    flex-wrap: wrap;
  }
  .prices {
    gap: var(--gap-24xl);
  }
  .separatorParent {
    flex-wrap: wrap;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .ridhimaSen,
  .skills1 {
    font-size: var(--font-size-lg);
  }
  .consultingLeader {
    font-size: var(--font-size-base);
  }
  .experienceBadge {
    flex-wrap: wrap;
  }
  .consultationPrices {
    font-size: var(--font-size-lg);
  }
  .hrSession,
  .minSession1 {
    font-size: var(--font-size-base);
  }
  .hourlySession {
    flex: 1;
  }
  .availability,
  .div,
  .div1,
  .monSat {
    font-size: var(--font-size-base);
  }
  .sessionFeeLabel {
    flex-wrap: wrap;
  }
  .bookNowButton {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .profileContent {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-38xl);
    box-sizing: border-box;
  }
}
