.buildingRelationshipsWith {
  height: 115px;
  flex: 1;
  position: relative;
  line-height: 22.4px;
  display: inline-block;
  min-height: 115px;
  max-width: 100%;
}
.expansionDetail {
  width: 548px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid);
  box-sizing: border-box;
  max-width: 100%;
}
.expansionDescriptionChild {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--primary);
  box-sizing: border-box;
  z-index: 1;
}
.expansionDescription,
.expansionSubtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.expansionDescription {
  align-self: stretch;
  gap: var(--gap-12xl);
}
.expansionSubtitle {
  width: 672px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  min-width: 672px;
}
.barriersIcon {
  width: 350px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.expansionContent,
.expansionSubtitleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.expansionSubtitleParent {
  width: 1105px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.expansionContent {
  width: 1383px;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-2xl);
  box-sizing: border-box;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-regular);
}
@media screen and (max-width: 1125px) {
  .barriersIcon,
  .expansionSubtitle {
    flex: 1;
  }
  .expansionSubtitleParent {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .expansionDescription {
    gap: var(--gap-mini);
  }
  .expansionSubtitle {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .buildingRelationshipsWith {
    font-size: var(--font-size-base);
  }
}
