.opportunityIcon {
  height: 350px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.opportunityIconWrapper {
  width: 442px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-27xl);
  box-sizing: border-box;
  max-width: 100%;
}
.diverseOpportunities {
  width: 338px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.bigstartupsNetworkOpens {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-aktivgrotesk-regular);
  text-align: left;
}
.diverseOpportunitiesParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.diverseOpportunitiesParent,
.opportunityContainer,
.opportunityRow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.opportunityRow {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xs);
}
.opportunityContainer {
  width: 598px;
  flex-direction: row;
  padding: 0 var(--padding-23xl);
  box-sizing: border-box;
}
.opportunityDivider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--primary);
  box-sizing: border-box;
  z-index: 1;
}
.opportunityDetails,
.opportunityItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.opportunityDetails {
  align-self: stretch;
  gap: var(--gap-mid);
}
.opportunityItem {
  flex: 1;
  padding: 0 0 var(--padding-48xl);
  box-sizing: border-box;
  min-height: 630px;
}
.placeholderIcon {
  width: 350px;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  max-width: 100%;
}
.opportunitiesContent {
  width: 1144px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-103xl);
  max-width: 100%;
}
.opportunitiesContentWrapper {
  width: 1370px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-30xl-7);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-bold);
}
@media screen and (max-width: 1125px) {
  .placeholderIcon {
    flex: 1;
  }
  .opportunitiesContent {
    flex-wrap: wrap;
    gap: var(--gap-42xl);
  }
}
@media screen and (max-width: 800px) {
  .diverseOpportunities {
    font-size: var(--font-size-7xl);
  }
  .opportunityContainer {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .opportunityItem {
    padding-bottom: var(--padding-25xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .opportunitiesContent {
    gap: var(--gap-11xl);
  }
  .opportunitiesContentWrapper {
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .opportunityIconWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .diverseOpportunities {
    font-size: var(--font-size-lgi);
  }
  .bigstartupsNetworkOpens {
    font-size: var(--font-size-base);
  }
  .opportunitiesContent {
    gap: var(--gap-mini);
  }
}
