.flexibilityIcon {
  position: absolute;
  top: 0;
  left: 104px;
  width: 350px;
  height: 350px;
  object-fit: contain;
  z-index: 1;
}
.flexibility,
.thePlatformOffers {
  position: relative;
  display: inline-block;
}
.flexibility {
  width: 147px;
}
.thePlatformOffers {
  align-self: stretch;
  font-size: var(--font-size-xl);
  line-height: 22.4px;
  font-family: var(--font-aktivgrotesk-regular);
  text-align: left;
  min-height: 161px;
}
.flexibilityParent {
  position: absolute;
  top: 349px;
  left: 0;
  width: 514px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  max-width: 100%;
}
.flexibilityIconParent {
  height: 555px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.flexibilityRow {
  width: 560px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  max-width: 100%;
}
.flexibilityDivider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--primary);
  box-sizing: border-box;
  z-index: 1;
}
.flexibilityContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  max-width: 100%;
}
.skillDevelopmentIcon {
  width: 350px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.skillDevelopmentContent {
  width: 560px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.skillDevelopment {
  width: 276px;
  position: relative;
  display: inline-block;
}
.engagingWithStartups {
  align-self: stretch;
  height: 184px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 22.4px;
  font-family: var(--font-aktivgrotesk-regular);
  display: inline-block;
  min-height: 184px;
}
.skillDevelopmentParent {
  width: 514px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  max-width: 100%;
}
.skillDivider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--primary);
  box-sizing: border-box;
  z-index: 1;
}
.skillDevelopmentContentParent {
  align-self: stretch;
  gap: var(--gap-6xl);
  text-align: left;
}
.flexibilityDetails,
.flexibilityItem,
.skillDevelopmentContentParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.flexibilityDetails {
  align-self: stretch;
  gap: var(--gap-41xl);
}
.flexibilityItem {
  flex: 1;
  padding: var(--padding-2xl) 0 0;
  box-sizing: border-box;
  min-width: 437px;
}
.byTranscendingRegional,
.globalReach {
  position: relative;
  display: inline-block;
}
.globalReach {
  width: 200px;
}
.byTranscendingRegional {
  flex: 1;
  max-width: 100%;
}
.globalDescription {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--font-aktivgrotesk-regular);
}
.globalDescription,
.globalDetails,
.globalReachParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.globalReachParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.globalDetails {
  width: 591px;
  flex-direction: row;
  padding: 0 var(--padding-18xl);
  box-sizing: border-box;
}
.globalDivider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--primary);
  box-sizing: border-box;
  z-index: 1;
}
.globalContent,
.globalItem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.globalItem {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lgi);
}
.globalContent {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.careerControlIcon {
  position: absolute;
  top: 0;
  left: 139px;
  width: 350px;
  height: 350px;
  object-fit: contain;
  z-index: 1;
}
.careerControl {
  width: 226px;
  position: relative;
  display: inline-block;
}
.bigstartupsNetworkPuts {
  align-self: stretch;
  height: 161px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 22.4px;
  font-family: var(--font-aktivgrotesk-regular);
  display: inline-block;
  min-height: 161px;
}
.careerControlParent,
.careerDetails {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.careerControlParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8xs);
}
.careerDetails {
  width: 578px;
  flex-direction: row;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.careerDivider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--primary);
  box-sizing: border-box;
  z-index: 1;
}
.careerControlItem {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.divider {
  height: 2398px;
  width: 2px;
  position: absolute;
  margin: 0 !important;
  top: -1642px;
  left: 0;
  border-right: 2px solid var(--primary);
  box-sizing: border-box;
}
.icon {
  width: 350px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.careerControlContent,
.controlDivider,
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.wrapper {
  flex: 1;
  justify-content: flex-end;
}
.careerControlContent,
.controlDivider {
  width: 465px;
  justify-content: flex-start;
  position: relative;
}
.careerControlContent {
  position: absolute;
  top: 349px;
  left: 0;
  width: 100%;
  flex-direction: column;
  gap: var(--gap-28xl);
}
.careerControlIconParent {
  align-self: stretch;
  height: 983px;
  position: relative;
  max-width: 100%;
  text-align: left;
}
.globalContentParent {
  width: 629px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-110xl);
  min-width: 629px;
  max-width: 100%;
}
.flexibilityContent,
.flexibilityContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.flexibilityContent {
  width: 1301px;
  justify-content: center;
  row-gap: 20px;
}
.flexibilityContentWrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-8xl) var(--padding-12xl-7);
  box-sizing: border-box;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-bold);
}
@media screen and (max-width: 1125px) {
  .globalContentParent,
  .globalItem {
    flex: 1;
  }
  .flexibilityContent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .flexibility,
  .skillDevelopment {
    font-size: var(--font-size-7xl);
  }
  .flexibilityDetails {
    gap: var(--gap-11xl);
  }
  .flexibilityItem {
    min-width: 100%;
  }
  .careerControl,
  .globalReach {
    font-size: var(--font-size-7xl);
  }
  .careerControlItem {
    gap: var(--gap-base);
  }
  .careerControlContent {
    gap: var(--gap-4xl);
  }
  .globalContentParent {
    gap: var(--gap-45xl);
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .flexibility {
    font-size: var(--font-size-lgi);
  }
  .thePlatformOffers {
    font-size: var(--font-size-base);
  }
  .skillDevelopment {
    font-size: var(--font-size-lgi);
  }
  .engagingWithStartups {
    font-size: var(--font-size-base);
  }
  .globalReach {
    font-size: var(--font-size-lgi);
  }
  .byTranscendingRegional {
    font-size: var(--font-size-base);
  }
  .careerControl {
    font-size: var(--font-size-lgi);
  }
  .bigstartupsNetworkPuts {
    font-size: var(--font-size-base);
  }
  .globalContentParent {
    gap: var(--gap-13xl);
  }
}
