.thirdBenefitIcon {
  height: 311px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.technologiesDetails {
  width: 511px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-44xl);
  box-sizing: border-box;
  max-width: 100%;
}
.xposureToCuttingEdge {
  align-self: stretch;
  position: relative;
}
.workOnProjects {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.technologiesItem,
.technologyDescription,
.xposureToCuttingEdgeTechnoParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.technologyDescription {
  width: 551px;
  flex-direction: row;
  padding: 0 var(--padding-30xl);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  font-family: var(--font-aktivgrotesk-regular);
}
.technologiesItem,
.xposureToCuttingEdgeTechnoParent {
  flex-direction: column;
}
.xposureToCuttingEdgeTechnoParent {
  align-self: stretch;
  gap: var(--gap-lgi);
}
.technologiesItem {
  flex: 1;
  gap: var(--gap-25xl);
  min-width: 380px;
}
.fourthBenefitIcon {
  height: 305px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.networkContent {
  width: 441px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xl);
  box-sizing: border-box;
  max-width: 100%;
}
.networkingOpportunities {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.network {
  width: 435px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-lg);
  box-sizing: border-box;
  max-width: 100%;
}
.connectWithLikeMinded {
  align-self: stretch;
  height: 76px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 18.4px;
  font-family: var(--font-aktivgrotesk-regular);
  display: inline-block;
  min-height: 76px;
}
.networkParent,
.opportunitiesNetworking {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.networkParent {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-3xs);
}
.opportunitiesNetworking {
  width: 453px;
  align-items: flex-start;
  gap: var(--gap-26xl);
  min-width: 453px;
}
.technologyContent,
.technologyContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.technologyContent {
  width: 1135px;
  gap: var(--gap-79xl);
}
.technologyContentWrapper {
  align-self: stretch;
  padding: 0 var(--padding-xl) var(--padding-83xl-7) var(--padding-86xl);
  box-sizing: border-box;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-bold);
}
@media screen and (max-width: 1350px) {
  .technologyContentWrapper {
    padding-left: var(--padding-33xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .opportunitiesNetworking {
    flex: 1;
  }
  .technologyContent {
    flex-wrap: wrap;
    gap: var(--gap-30xl);
  }
}
@media screen and (max-width: 800px) {
  .technologiesDetails {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .xposureToCuttingEdge {
    font-size: var(--font-size-7xl);
  }
  .technologyDescription {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .technologiesItem {
    gap: var(--gap-3xl);
    min-width: 100%;
  }
  .networkingOpportunities {
    font-size: var(--font-size-7xl);
  }
  .opportunitiesNetworking {
    min-width: 100%;
  }
  .technologyContent {
    gap: var(--gap-5xl);
  }
  .technologyContentWrapper {
    padding-left: var(--padding-7xl);
    padding-bottom: var(--padding-48xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .networkingOpportunities,
  .xposureToCuttingEdge {
    font-size: var(--font-size-lgi);
  }
  .opportunitiesNetworking {
    gap: var(--gap-3xl);
  }
}
