.component113Child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-color);
  border: 1px solid var(--background-color);
  box-sizing: border-box;
}
.circleIcon,
.component113Child,
.icon {
  position: absolute;
  margin: 0 !important;
}
.icon {
  height: 30px;
  width: 30.3px;
  top: 41px;
  left: 158.8px;
  z-index: 2;
}
.circleIcon {
  height: 53px;
  width: 53.6px;
  top: 35px;
  right: 23.3px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.circle,
.offerBackground {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.circle {
  height: 64px;
  width: 64.7px;
  position: absolute;
  margin: 0 !important;
  top: 28px;
  left: 28.3px;
  border-radius: 50%;
  background-color: var(--primary);
}
.offerBackground {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-15xl-5);
  background-color: var(--background-color);
  border: 1px solid var(--text-secondary);
}
.offerBox {
  height: 56px;
  width: 433.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.offersDeals {
  width: 222.5px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.offerTitle {
  width: 345.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.detailsContentChild {
  width: 43.5px;
  flex: 1;
  position: relative;
  max-height: 100%;
  flex-shrink: 0;
  z-index: 1;
}
.detailsContent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.div {
  position: relative;
  display: inline-block;
  min-width: 17.2px;
  flex-shrink: 0;
  z-index: 1;
}
.detailsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 0;
  gap: var(--gap-8xs);
}
.rowIcon {
  width: 43.5px;
  height: 43px;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.rowContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.div1 {
  position: relative;
  display: inline-block;
  min-width: 17.2px;
  flex-shrink: 0;
  z-index: 1;
}
.detailsRow,
.rowWrapper {
  display: flex;
  align-items: flex-start;
}
.rowWrapper {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.detailsRow {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-3);
}
.rowIcon1 {
  width: 43.5px;
  height: 43px;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.rowContent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.div2 {
  position: relative;
  display: inline-block;
  min-width: 17.2px;
  flex-shrink: 0;
  z-index: 1;
}
.detailsRow1,
.rowWrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.detailsRow1 {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-3);
}
.offerDetails {
  height: 59.3px;
  width: 304.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
  color: var(--primary);
}
.content,
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content {
  gap: var(--gap-22xl-5);
}
.wrapper {
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.separator {
  align-self: stretch;
  height: 0;
  position: relative;
  z-index: 1;
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl-7);
  max-width: 100%;
}
.launchpad {
  flex: 1;
  position: relative;
  z-index: 1;
}
.navLink {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
}
.divider {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--primary);
  box-sizing: border-box;
  z-index: 1;
}
.navItem {
  width: 174.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.learning {
  flex: 1;
  position: relative;
  z-index: 1;
}
.navLink1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
}
.divider1,
.navItem1 {
  box-sizing: border-box;
}
.divider1 {
  width: 138.5px;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--primary);
  z-index: 1;
}
.navItem1 {
  width: 146.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  gap: var(--gap-7xs);
}
.divider2,
.networking {
  position: relative;
  z-index: 1;
}
.networking {
  align-self: stretch;
}
.divider2 {
  width: 174.9px;
  height: 2px;
  border-top: 2px solid var(--primary);
  box-sizing: border-box;
}
.navLink2 {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.projects {
  flex: 1;
  position: relative;
  z-index: 1;
}
.projectLink {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
}
.dividerIcon {
  width: 142.6px;
  height: 3px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.navLink3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.divider3,
.jobs {
  position: relative;
  z-index: 1;
}
.jobs {
  align-self: stretch;
}
.divider3 {
  width: 80.9px;
  height: 2px;
  border-top: 2px solid var(--primary);
  box-sizing: border-box;
}
.navItem4 {
  width: 78.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10xs);
}
.navItem2,
.navItem3,
.navItem4 {
  justify-content: flex-start;
}
.navItem3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-7xl-3);
  min-width: 166px;
}
.navItem2 {
  width: 510.7px;
  gap: var(--gap-55xl-8);
}
.navItem2,
.navItems,
.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.navItems {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.navigation {
  width: 1131px;
  justify-content: flex-end;
  padding: 0 var(--padding-36xl);
  box-sizing: border-box;
  font-family: var(--font-aktivgrotesk-medium);
}
.containerParent {
  width: 1195.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  max-width: 100%;
}
.component113,
.profileWrapperChild {
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
}
.component113 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-6xl) var(--padding-xl) var(--padding-lgi)
    var(--padding-41xl);
}
.profileWrapperChild {
  width: 1389px;
  height: 466px;
  box-shadow: 0 4px 4px rgba(252, 28, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--background-color);
  border: 1px solid var(--color-mistyrose);
  display: none;
}
.profilePictureIcon {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.skills {
  position: relative;
  display: inline-block;
  min-width: 74px;
  z-index: 1;
}
.nameAndSkills,
.nameWrapper,
.skillLabel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.skillLabel {
  flex-direction: row;
  padding: 0 var(--padding-13xl);
}
.nameAndSkills,
.nameWrapper {
  flex-direction: column;
}
.nameWrapper {
  gap: var(--gap-3xl);
}
.nameAndSkills {
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 200px;
}
.ridhimaSen {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.consultingLeader {
  flex: 1;
  position: relative;
  z-index: 2;
}
.consultantDetails,
.designation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.designation {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-8xs) 0 var(--padding-11xs);
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-aktivgrotesk-regular);
}
.consultantDetails {
  width: 174px;
  flex-direction: column;
}
.grommetIconsuserExpert {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.fluentMdl2calendarYearIcon,
.fluentpayment20RegularIcon {
  position: absolute;
  top: 0;
  left: 1px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  z-index: 1;
}
.fluentpayment20RegularIcon {
  top: 38px;
  left: 0;
}
.experienceBadge {
  height: 58px;
  width: 21px;
  position: relative;
}
.yearsOfExperience {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.experienceDetails,
.experienceWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.experienceDetails {
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.experienceWrapper {
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
}
.qualifiedInStartup {
  width: 247px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.yearsOfExperience1 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.feeDetails {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-6xs);
}
.consultationFee1000 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.feeDetails1 {
  width: 208px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.consultationFee,
.experience,
.feeDetails1 {
  display: flex;
  justify-content: flex-start;
}
.consultationFee {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xl);
  min-width: 196px;
}
.experience {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-mini);
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-aktivgrotesk-regular);
}
.profileInfo {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
  min-width: 220px;
}
.headerDetails,
.profileHeader,
.profileInfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.headerDetails {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-6xl);
}
.profileHeader {
  width: 563px;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  min-width: 563px;
}
.priceDivider {
  width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid var(--color-silver);
  box-sizing: border-box;
  z-index: 1;
}
.pricingWrapper {
  height: 244px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.consultationPrices {
  width: 275px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.arcticonspriceconverter {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.minSession {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.sessionDuration {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.priceDetails,
.priceValue,
.sessionDuration {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.priceValue {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.priceDetails {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 109px;
}
.arcticonspriceconverter1 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.priceDetails1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.hrSession {
  flex: 1;
  position: relative;
  z-index: 1;
}
.optionItem1 {
  flex: 0.8929;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  min-width: 109px;
}
.letsIconstimeLight {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.availability {
  position: relative;
  display: inline-block;
  min-width: 97px;
  z-index: 1;
}
.availabilityWrapper,
.optionItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.optionItem {
  align-self: stretch;
  gap: var(--gap-mini);
}
.div3 {
  position: relative;
  display: inline-block;
  min-width: 59px;
  white-space: nowrap;
  z-index: 1;
}
.priceSymbol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.bookNow,
.div4 {
  position: relative;
  z-index: 1;
}
.div4 {
  display: inline-block;
  min-width: 59px;
  white-space: nowrap;
}
.bookNow {
  flex: 1;
}
.bookButton,
.priceInput,
.priceInputInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bookButton {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xl);
  font-size: var(--font-size-11xl);
  color: var(--background-color);
}
.priceInput,
.priceInputInner {
  flex-direction: column;
}
.priceInputInner {
  align-self: stretch;
  gap: var(--gap-77xl);
}
.priceInput {
  flex: 1;
  padding: var(--padding-8xs) 0 0;
}
.monSat {
  position: relative;
  display: inline-block;
  min-width: 81px;
  z-index: 1;
}
.booking,
.buttonWrapper,
.priceValue1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.priceValue1 {
  width: 263px;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.booking,
.buttonWrapper {
  max-width: 100%;
}
.buttonWrapper {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.booking {
  width: 471px;
  justify-content: flex-end;
  padding: 0 var(--padding-sm);
  box-sizing: border-box;
  margin-top: -3px;
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-bold);
}
.optionList,
.priceHeader,
.priceOptions {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.optionList {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.priceHeader,
.priceOptions {
  align-items: flex-start;
}
.priceOptions {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  color: var(--text-secondary);
  font-family: var(--font-aktivgrotesk-regular);
}
.priceHeader {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 319px;
}
.pricing,
.profileContent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.pricing {
  width: 516px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 516px;
}
.profileContent {
  width: 1195px;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.categoryLabelsChild {
  height: 50px;
  width: 244px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-lavenderblush);
  border: 2px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  display: none;
}
.marketingConsulting {
  flex: 1;
  position: relative;
  z-index: 2;
}
.accountsLabelChild,
.categoryLabels {
  width: 244px;
  border-radius: var(--br-21xl);
  background-color: var(--color-lavenderblush);
  border: 2px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
}
.categoryLabels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-4xl) var(--padding-3xs);
  white-space: nowrap;
  z-index: 1;
}
.accountsLabelChild {
  height: 50px;
  position: relative;
  display: none;
}
.accountsConsulting {
  width: 191px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.accountsCategory,
.accountsLabel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.accountsLabel {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--color-lavenderblush);
  border: 2px solid var(--color-whitesmoke-200);
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-4xl) var(--padding-3xs);
  white-space: nowrap;
  z-index: 1;
}
.accountsCategory {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
  min-width: 164px;
}
.categoryLabelsItem {
  height: 50px;
  width: 244px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-lavenderblush);
  border: 2px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  display: none;
}
.buisnessConsulting {
  width: 186px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.categoryLabels1,
.frameChild {
  width: 244px;
  border-radius: var(--br-21xl);
  background-color: var(--color-lavenderblush);
  border: 2px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
}
.categoryLabels1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-4xl) var(--padding-3xs);
  white-space: nowrap;
  z-index: 1;
}
.frameChild {
  height: 50px;
  position: relative;
  display: none;
}
.buisnessConsulting1 {
  width: 186px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.categoryLabels2,
.rectangleParent {
  display: flex;
  align-items: flex-start;
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--color-lavenderblush);
  border: 2px solid var(--color-whitesmoke-200);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-4xl) var(--padding-3xs);
  white-space: nowrap;
  z-index: 1;
}
.categoryLabels2 {
  flex: 0.9683;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 var(--padding-base) var(--padding-11xs) 0;
  box-sizing: border-box;
  min-width: 169px;
}
.frameItem {
  height: 50px;
  width: 244px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-lavenderblush);
  border: 2px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  display: none;
}
.buisnessConsulting2 {
  width: 186px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.categoryLabels3,
.rectangleGroup {
  display: flex;
  align-items: flex-start;
}
.rectangleGroup {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--color-lavenderblush);
  border: 2px solid var(--color-whitesmoke-200);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-4xl) var(--padding-3xs);
  white-space: nowrap;
  z-index: 1;
}
.categoryLabels3 {
  width: 244px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.categories {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-sm);
  max-width: 100%;
}
.consultingCategories,
.profileWrapper {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.consultingCategories {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-6xl);
  font-size: var(--font-size-xl);
  color: var(--primary);
  font-family: var(--font-aktivgrotesk-regular);
}
.profileWrapper {
  flex: 1;
  box-shadow: 0 4px 4px rgba(252, 28, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--background-color);
  border: 1px solid var(--color-mistyrose);
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-11xl) var(--padding-69xl)
    var(--padding-13xl);
  gap: var(--gap-lgi);
}
.consultantProfile,
.main {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.consultantProfile {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) 0 var(--padding-9xl);
  box-sizing: border-box;
  font-size: var(--font-size-11xl);
  font-family: var(--font-aktivgrotesk-medium);
}
.main {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-bold);
}
@media screen and (max-width: 1200px) {
  .content {
    flex-wrap: wrap;
  }
  .navigation {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .component113 {
    padding-left: var(--padding-11xl);
    box-sizing: border-box;
  }
  .pricing,
  .profileHeader {
    flex: 1;
  }
  .profileContent {
    flex-wrap: wrap;
  }
  .accountsCategory,
  .categoryLabels2 {
    flex: 1;
  }
  .categories {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .navItems {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .offersDeals {
    font-size: var(--font-size-7xl);
  }
  .content {
    gap: var(--gap-2xl);
  }
  .container {
    gap: var(--gap-base);
  }
  .jobs,
  .launchpad,
  .learning,
  .networking,
  .projects {
    font-size: var(--font-size-7xl);
  }
  .navItem2 {
    flex-wrap: wrap;
    gap: var(--gap-18xl);
  }
  .containerParent {
    gap: var(--gap-5xl);
  }
  .skills {
    font-size: var(--font-size-5xl);
  }
  .nameAndSkills {
    flex: 1;
  }
  .ridhimaSen {
    font-size: var(--font-size-5xl);
  }
  .headerDetails {
    flex-wrap: wrap;
  }
  .profileHeader {
    min-width: 100%;
  }
  .consultationPrices {
    font-size: var(--font-size-5xl);
  }
  .optionItem {
    flex-wrap: wrap;
  }
  .bookNow {
    font-size: var(--font-size-5xl);
  }
  .buttonWrapper,
  .pricing {
    flex-wrap: wrap;
  }
  .pricing {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .jobs,
  .launchpad,
  .learning,
  .networking,
  .offersDeals,
  .projects {
    font-size: var(--font-size-lgi);
  }
  .navItem2 {
    gap: var(--gap-lgi);
  }
  .ridhimaSen,
  .skills {
    font-size: var(--font-size-lg);
  }
  .consultingLeader {
    font-size: var(--font-size-base);
  }
  .experience {
    flex-wrap: wrap;
  }
  .consultationPrices {
    font-size: var(--font-size-lg);
  }
  .hrSession,
  .minSession {
    font-size: var(--font-size-base);
  }
  .optionItem1 {
    flex: 1;
  }
  .availability,
  .div3,
  .div4 {
    font-size: var(--font-size-base);
  }
  .bookNow {
    font-size: var(--font-size-lg);
  }
  .monSat {
    font-size: var(--font-size-base);
  }
  .profileWrapper {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-38xl);
    box-sizing: border-box;
  }
}
