.morningSlotsChild {
  height: 76px;
  width: 180px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--background-color);
  border: 1px solid var(--primary);
  box-sizing: border-box;
  display: none;
}
.am {
  position: relative;
  display: inline-block;
  min-width: 124px;
  z-index: 1;
}
.afternoonSlotsChild,
.morningSlots {
  border-radius: var(--br-3xs);
  background-color: var(--background-color);
  border: 1px solid var(--primary);
}
.morningSlots {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-7xl) var(--padding-5xl)
    var(--padding-9xl);
  white-space: nowrap;
}
.afternoonSlotsChild {
  height: 76px;
  width: 180px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.am1 {
  position: relative;
  display: inline-block;
  min-width: 124px;
  z-index: 1;
}
.afternoonSlots,
.timeSlots {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.afternoonSlots {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--background-color);
  border: 1px solid var(--primary);
  flex-direction: row;
  padding: var(--padding-5xl) var(--padding-7xl) var(--padding-5xl)
    var(--padding-9xl);
  white-space: nowrap;
}
.timeSlots {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-16xl);
  min-width: 117px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--primary);
  font-family: var(--font-aktivgrotesk-medium);
}
