@import url("https://fonts.googleapis.com/css2?family=AktivGrotesk-Black:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=AktivGrotesk-Regular:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=AktivGrotesk-Bold:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=AktivGrotesk-Medium:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=AktivGrotesk-XBold:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
.podcast {
  width: 78px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.podcastWrapper {
  width: 108px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.interviews,
.startupStories {
  width: 101px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.startupStories {
  width: 146px;
}
.showcaseTypes,
.showcaseTypesWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.showcaseTypes {
  width: 789px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.showcaseTypesWrapper {
  width: 963px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.shareYourJourney {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.storyDescription {
  flex: 0.9503;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
  min-width: 209px;
  max-width: 100%;
}
.highlightYourStartup {
  width: 254px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.showcasingYourAchievements {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
  z-index: 1;
}
.storyShowcase {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-22xl);
  max-width: 100%;
  text-align: center;
  font-family: var(--font-aktivgrotesk-regular);
}
.frameParent {
  width: 990px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 205px;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-height: 262px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-bold);
}
.featureVideos {
  flex: 1;
  position: relative;
  z-index: 1;
}
.featureItem {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-50xl) 0 var(--padding-49xl);
}
.featureYourBrand {
  align-self: stretch;
  position: relative;
  font-family: var(--font-aktivgrotesk-regular);
  text-align: center;
  z-index: 1;
}
.featureList {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  min-width: 183px;
}
.featureArticles {
  flex: 1;
  position: relative;
  z-index: 1;
}
.featureArticlesWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-34xl) 0 58px;
}
.featureYourBrand1 {
  align-self: stretch;
  position: relative;
  font-family: var(--font-aktivgrotesk-regular);
  text-align: center;
  z-index: 1;
}
.featureList1 {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.featureTypes,
.featureTypesWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.featureTypes {
  width: 621px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 76px;
}
.featureTypesWrapper {
  width: 993px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.thankYouFor {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.joinOurCommunity {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.socialMediaCall {
  width: 863px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-44xl);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  font-family: var(--font-aktivgrotesk-regular);
}
.communityMessage,
.communityMessageWrapper,
.socialMediaCall {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.communityMessage {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.communityMessageWrapper {
  width: 1017px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-32xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-bold);
}
.footerChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
}
.gridiconsstory,
.gridiconsstory1,
.gridiconsstory2,
.gridiconsstory3 {
  position: absolute;
  top: 546px;
  left: 511px;
  width: 23px;
  height: 23px;
  overflow: hidden;
  z-index: 2;
}
.gridiconsstory1,
.gridiconsstory2,
.gridiconsstory3 {
  top: 973px;
  left: 506px;
}
.gridiconsstory2,
.gridiconsstory3 {
  top: 760px;
  left: 493px;
}
.gridiconsstory3 {
  top: 1187px;
  left: 488px;
}
.atCover244331711457971ImgIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.socialIcons,
.socialIconsChild {
  position: absolute;
  top: 52px;
  left: 178px;
  width: 60px;
  height: 60px;
  z-index: 2;
}
.socialIcons {
  top: 537px;
  left: 73px;
  width: 426px;
  height: 169px;
  background-image: url(/at-cover-24433-1711457971-img800@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.atCover244331711457971ImgIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.socialIcons1,
.socialIconsItem {
  position: absolute;
  top: 52px;
  left: 178px;
  width: 60px;
  height: 60px;
  z-index: 2;
}
.socialIcons1 {
  top: 964px;
  left: 68px;
  width: 426px;
  height: 169px;
  background-image: url(/at-cover-24433-1711457971-img800@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.atCover244331711457971ImgIcon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.socialIcons2,
.socialIconsInner {
  position: absolute;
  top: 54px;
  left: 215px;
  width: 60px;
  height: 60px;
  z-index: 3;
}
.socialIcons2 {
  top: 760px;
  left: 540px;
  width: 426px;
  height: 169px;
  background-image: url(/at-cover-24433-1711457971-img800@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
}
.atCover244331711457971ImgIcon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.groupIcon,
.socialIcons3 {
  position: absolute;
  top: 54px;
  left: 215px;
  width: 60px;
  height: 60px;
  z-index: 3;
}
.socialIcons3 {
  top: 1187px;
  left: 535px;
  width: 426px;
  height: 169px;
  background-image: url(/at-cover-24433-1711457971-img800@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
}
.atCover244801712641546ImgIcon {
  position: absolute;
  top: 1634px;
  left: 534px;
  width: 427px;
  height: 170px;
  object-fit: cover;
  z-index: 2;
}
.atCover244801712641546ImgIcon1,
.atCover244801712641546ImgIcon2,
.atCover244801712641546ImgIcon3 {
  position: absolute;
  top: 1943px;
  left: 534px;
  width: 427px;
  height: 170px;
  object-fit: cover;
  z-index: 2;
}
.atCover244801712641546ImgIcon2,
.atCover244801712641546ImgIcon3 {
  top: 1638px;
  left: 32px;
}
.atCover244801712641546ImgIcon3 {
  top: 1947px;
}
.icon,
.imageContainerIcon,
.imageIcon,
.imageIcon1,
.liveNationImage {
  position: absolute;
  top: 3323px;
  left: 46px;
  width: 300px;
  height: 200px;
  object-fit: cover;
  z-index: 1;
}
.imageContainerIcon,
.imageIcon,
.imageIcon1,
.liveNationImage {
  left: 379px;
}
.imageIcon,
.imageIcon1,
.liveNationImage {
  top: 3676px;
  left: 563px;
}
.imageIcon,
.imageIcon1 {
  top: 3680px;
  left: 212px;
}
.imageIcon1 {
  top: 3323px;
  left: 713px;
}
.frameChild,
.frameItem {
  position: absolute;
  border-radius: 50%;
}
.frameChild {
  top: 0;
  left: 0;
  background-color: var(--background-color);
  border: 0 solid var(--primary);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.frameItem {
  width: calc(100% - 26.5px);
  top: 12.8px;
  right: 12.7px;
  left: 13.8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--primary);
  height: 69.3px;
  z-index: 2;
}
.ellipseParent,
.spotlight1Icon {
  position: absolute;
  top: 2462px;
  left: 391px;
  width: 95.8px;
  height: 95.8px;
}
.spotlight1Icon {
  top: 2627px;
  left: 227px;
  width: 634px;
  height: 357px;
  object-fit: cover;
  z-index: 1;
}
.footer {
  width: 1017px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 1px;
}
.dailySpotlightMonthly,
.spotlightMonthly {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.spotlightMonthly {
  width: 1030px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 3156px;
  gap: var(--gap-79xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-bold);
}
.dailySpotlightMonthly {
  width: 100%;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-380xl) var(--padding-xl) 247px var(--padding-13xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .spotlightMonthly {
    padding-bottom: 866px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .showcasingYourAchievements,
  .storyDescription {
    flex: 1;
  }
  .storyShowcase {
    flex-wrap: wrap;
  }
  .thankYouFor {
    font-size: var(--font-size-5xl);
  }
  .socialMediaCall {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .communityMessageWrapper {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .spotlightMonthly {
    gap: var(--gap-30xl);
    padding-bottom: 563px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .showcaseTypes {
    flex-wrap: wrap;
  }
  .storyShowcase {
    gap: var(--gap-xl);
  }
  .featureTypes {
    gap: var(--gap-19xl);
  }
  .spotlightMonthly {
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 450px) {
  .featureVideos,
  .highlightYourStartup,
  .interviews,
  .podcast,
  .shareYourJourney,
  .showcasingYourAchievements,
  .startupStories {
    font-size: var(--font-size-base);
  }
  .featureItem {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .featureArticles,
  .featureYourBrand {
    font-size: var(--font-size-base);
  }
  .featureArticlesWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .featureYourBrand1 {
    font-size: var(--font-size-base);
  }
  .featureTypes {
    gap: var(--gap-lgi);
  }
  .thankYouFor {
    font-size: var(--font-size-lg);
  }
  .joinOurCommunity {
    font-size: var(--font-size-base);
  }
  .communityMessage {
    gap: var(--gap-6xl);
  }
  .spotlightMonthly {
    padding-bottom: 366px;
    box-sizing: border-box;
  }
}
.availableSlots {
  height: 51px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.slotsHeader {
  width: 281px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
}
.paymentLabelChild {
  height: 55px;
  width: 300px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--primary);
  display: none;
}
.preceedPayment {
  width: 197px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.paymentContainer,
.paymentLabel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.paymentLabel {
  width: 300px;
  border-radius: var(--br-21xl);
  background-color: var(--primary);
  justify-content: flex-end;
  padding: var(--padding-smi) var(--padding-28xl) var(--padding-sm);
  white-space: nowrap;
}
.paymentContainer {
  width: 1258px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.paymentSeparator {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-gainsboro-200);
  box-sizing: border-box;
}
.availableSlotsContainer,
.payment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.payment {
  width: 1307px;
  align-items: flex-end;
  gap: var(--gap-31xl);
  font-size: var(--font-size-5xl);
  color: var(--background-color);
  font-family: var(--font-aktivgrotesk-medium);
}
.availableSlotsContainer {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-15xl);
}
.availableSlotsContainerWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-22xl) 0 var(--padding-27xl);
  box-sizing: border-box;
  max-width: 100%;
}
.consultingPageProfile {
  width: 100%;
  position: relative;
  background-color: var(--background-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 5211px;
  box-sizing: border-box;
  gap: 66px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-bold);
}
@media screen and (max-width: 750px) {
  .availableSlots {
    font-size: var(--font-size-5xl);
  }
  .payment {
    gap: var(--gap-6xl);
  }
  .availableSlotsContainer {
    gap: var(--gap-mid);
  }
  .availableSlotsContainerWrapper {
    padding-left: var(--padding-4xl);
    box-sizing: border-box;
  }
  .consultingPageProfile {
    gap: var(--gap-14xl);
  }
}
@media screen and (max-width: 450px) {
  .availableSlots {
    font-size: var(--font-size-lg);
  }
  .paymentLabel {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .consultingPageProfile {
    gap: var(--gap-base);
  }
}
.shape {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-color);
  border: 1px solid var(--background-color);
  box-sizing: border-box;
}
.shape,
.shapeIcon,
.shapeIcon1 {
  position: absolute;
  margin: 0 !important;
}
.shapeIcon {
  height: 30px;
  width: 30.3px;
  top: 41px;
  left: 158.8px;
  z-index: 2;
}
.shapeIcon1 {
  height: 53px;
  width: 53.6px;
  top: 35px;
  right: 23.3px;
  border-radius: 50%;
  object-fit: contain;
  z-index: 1;
}
.separator,
.shape1 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.shape1 {
  height: 64px;
  width: 64.7px;
  position: absolute;
  margin: 0 !important;
  top: 28px;
  left: 28.3px;
  border-radius: 50%;
  background-color: var(--primary);
}
.separator {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-15xl-5);
  background-color: var(--background-color);
  border: 1px solid var(--text-secondary);
}
.detailsRow {
  height: 56px;
  width: 433.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.offersDeals {
  text-decoration: none;
  width: 222.5px;
  position: relative;
  color: inherit;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.detailsRow1 {
  width: 345.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.avatarRowChild {
  width: 43.5px;
  flex: 1;
  position: relative;
  max-height: 100%;
  z-index: 1;
}
.avatarRow {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.consultantName {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 17.2px;
  z-index: 1;
}
.consultantInfo {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 0;
  gap: var(--gap-8xs);
}
.experienceIcon1 {
  width: 43.5px;
  height: 43px;
  position: relative;
  z-index: 1;
}
.experienceIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.experienceYears {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 17.2px;
  z-index: 1;
}
.experience,
.experienceRow {
  display: flex;
  align-items: flex-start;
}
.experience {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.experienceRow {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-3);
}
.feeIcon1 {
  width: 43.5px;
  height: 43px;
  position: relative;
  z-index: 1;
}
.feeIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.feeAmount {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 17.2px;
  z-index: 1;
}
.fee,
.feeRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.feeRow {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-3);
}
.consultantInfoParent {
  align-self: stretch;
  width: 304.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
  color: var(--primary);
}
.detailsRowParent,
.offerDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.detailsRowParent {
  align-self: stretch;
  gap: var(--gap-22xl-5);
}
.offerDetails {
  flex: 1;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.separator1 {
  align-self: stretch;
  height: 0;
  position: relative;
  z-index: 1;
}
.offersContainer {
  align-self: stretch;
  height: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl-7);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-bold);
}
.launchpad {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.navLink {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
}
.separator2 {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--primary);
  box-sizing: border-box;
  z-index: 1;
}
.navItem {
  width: 174.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.learning {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.navLink1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
}
.separator3 {
  width: 138.5px;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--primary);
  box-sizing: border-box;
  z-index: 1;
}
.navItem1 {
  width: 146.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-7xs);
}
.networking,
.separator4 {
  position: relative;
  z-index: 1;
}
.networking {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.separator4 {
  width: 174.9px;
  height: 2px;
  border-top: 2px solid var(--primary);
  box-sizing: border-box;
}
.navLink2 {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.projects {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.navLink3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
}
.separatorIcon {
  width: 142.6px;
  height: 3px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.projectsLink {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.jobs,
.separator5 {
  position: relative;
  z-index: 1;
}
.jobs {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.separator5 {
  width: 80.9px;
  height: 2px;
  border-top: 2px solid var(--primary);
  box-sizing: border-box;
}
.navItem4 {
  width: 78.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10xs);
}
.navItem2,
.navItem3,
.navItem4 {
  justify-content: flex-start;
}
.navItem3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-7xl-3);
  min-width: 166px;
}
.navItem2 {
  width: 510.7px;
  gap: var(--gap-55xl-8);
}
.navItem2,
.navItems,
.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.navItems {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.navigation {
  width: 1131px;
  justify-content: flex-end;
  padding: 0 var(--padding-36xl);
  box-sizing: border-box;
}
.offersContainerParent {
  width: 1195.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  max-width: 100%;
}
.component113 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-6xl) var(--padding-xl) var(--padding-lgi)
    var(--padding-41xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.bookingDetails {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  white-space: pre-wrap;
}
.bookingDetailsWrapper,
.consultingPageProfile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.bookingDetailsWrapper {
  width: 366px;
  flex-direction: row;
  padding: 0 var(--padding-48xl) var(--padding-6xs);
  max-width: 100%;
  font-size: var(--font-size-11xl);
  font-family: var(--font-aktivgrotesk-bold);
}
.consultingPageProfile {
  width: 100%;
  position: relative;
  background-color: var(--background-color);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 5800px;
  gap: var(--gap-7xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-medium);
}
@media screen and (max-width: 1225px) {
  .navigation {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .component113 {
    padding-left: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .navItems {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .detailsRowParent {
    gap: var(--gap-2xl);
  }
  .offersContainer {
    gap: var(--gap-base);
  }
  .jobs,
  .launchpad,
  .learning,
  .networking,
  .projects {
    font-size: var(--font-size-7xl);
  }
  .navItem2 {
    flex-wrap: wrap;
    gap: var(--gap-18xl);
  }
  .offersContainerParent {
    gap: var(--gap-5xl);
  }
  .bookingDetails {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 450px) {
  .jobs,
  .launchpad,
  .learning,
  .networking,
  .projects {
    font-size: var(--font-size-lgi);
  }
  .navItem2 {
    gap: var(--gap-lgi);
  }
  .bookingDetails {
    font-size: var(--font-size-lg);
  }
  .bookingDetailsWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
.podcast {
  width: 78px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.podcastWrapper {
  width: 108px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.interviews,
.startupStories {
  width: 101px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.startupStories {
  width: 146px;
}
.showcaseTypes,
.showcaseTypesWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.showcaseTypes {
  width: 789px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.showcaseTypesWrapper {
  width: 963px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.shareYourJourney {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.storyDescription {
  flex: 0.9503;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
  min-width: 209px;
  max-width: 100%;
}
.highlightYourStartup {
  width: 254px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.showcasingYourAchievements {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
  z-index: 1;
}
.storyShowcase {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-22xl);
  max-width: 100%;
  text-align: center;
  font-family: var(--font-aktivgrotesk-regular);
}
.frameParent {
  width: 990px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 205px;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-height: 262px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-bold);
}
.featureVideos {
  flex: 1;
  position: relative;
  z-index: 1;
}
.featureItem {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-50xl) 0 var(--padding-49xl);
}
.featureYourBrand {
  align-self: stretch;
  position: relative;
  font-family: var(--font-aktivgrotesk-regular);
  text-align: center;
  z-index: 1;
}
.featureList {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  min-width: 183px;
}
.featureArticles {
  flex: 1;
  position: relative;
  z-index: 1;
}
.featureArticlesWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-34xl) 0 58px;
}
.featureYourBrand1 {
  align-self: stretch;
  position: relative;
  font-family: var(--font-aktivgrotesk-regular);
  text-align: center;
  z-index: 1;
}
.featureList1 {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.featureTypes,
.featureTypesWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.featureTypes {
  width: 621px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 76px;
}
.featureTypesWrapper {
  width: 993px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.thankYouFor {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.joinOurCommunity {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.socialMediaCall {
  width: 863px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-44xl);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  font-family: var(--font-aktivgrotesk-regular);
}
.communityMessage,
.communityMessageWrapper,
.socialMediaCall {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.communityMessage {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.communityMessageWrapper {
  width: 1017px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-32xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-bold);
}
.footerChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
}
.gridiconsstory,
.gridiconsstory1,
.gridiconsstory2,
.gridiconsstory3 {
  position: absolute;
  top: 546px;
  left: 511px;
  width: 23px;
  height: 23px;
  overflow: hidden;
  z-index: 2;
}
.gridiconsstory1,
.gridiconsstory2,
.gridiconsstory3 {
  top: 973px;
  left: 506px;
}
.gridiconsstory2,
.gridiconsstory3 {
  top: 760px;
  left: 493px;
}
.gridiconsstory3 {
  top: 1187px;
  left: 488px;
}
.atCover244331711457971ImgIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.socialIcons,
.socialIconsChild {
  position: absolute;
  top: 52px;
  left: 178px;
  width: 60px;
  height: 60px;
  z-index: 2;
}
.socialIcons {
  top: 537px;
  left: 73px;
  width: 426px;
  height: 169px;
  background-image: url(/at-cover-24433-1711457971-img800@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.atCover244331711457971ImgIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.socialIcons1,
.socialIconsItem {
  position: absolute;
  top: 52px;
  left: 178px;
  width: 60px;
  height: 60px;
  z-index: 2;
}
.socialIcons1 {
  top: 964px;
  left: 68px;
  width: 426px;
  height: 169px;
  background-image: url(/at-cover-24433-1711457971-img800@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.atCover244331711457971ImgIcon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.socialIcons2,
.socialIconsInner {
  position: absolute;
  top: 54px;
  left: 215px;
  width: 60px;
  height: 60px;
  z-index: 3;
}
.socialIcons2 {
  top: 760px;
  left: 540px;
  width: 426px;
  height: 169px;
  background-image: url(/at-cover-24433-1711457971-img800@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
}
.atCover244331711457971ImgIcon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.groupIcon,
.socialIcons3 {
  position: absolute;
  top: 54px;
  left: 215px;
  width: 60px;
  height: 60px;
  z-index: 3;
}
.socialIcons3 {
  top: 1187px;
  left: 535px;
  width: 426px;
  height: 169px;
  background-image: url(/at-cover-24433-1711457971-img800@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
}
.atCover244801712641546ImgIcon {
  position: absolute;
  top: 1634px;
  left: 534px;
  width: 427px;
  height: 170px;
  object-fit: cover;
  z-index: 2;
}
.atCover244801712641546ImgIcon1,
.atCover244801712641546ImgIcon2,
.atCover244801712641546ImgIcon3 {
  position: absolute;
  top: 1943px;
  left: 534px;
  width: 427px;
  height: 170px;
  object-fit: cover;
  z-index: 2;
}
.atCover244801712641546ImgIcon2,
.atCover244801712641546ImgIcon3 {
  top: 1638px;
  left: 32px;
}
.atCover244801712641546ImgIcon3 {
  top: 1947px;
}
.icon,
.imageContainerIcon,
.imageIcon,
.imageIcon1,
.liveNationImage {
  position: absolute;
  top: 3323px;
  left: 46px;
  width: 300px;
  height: 200px;
  object-fit: cover;
  z-index: 1;
}
.imageContainerIcon,
.imageIcon,
.imageIcon1,
.liveNationImage {
  left: 379px;
}
.imageIcon,
.imageIcon1,
.liveNationImage {
  top: 3676px;
  left: 563px;
}
.imageIcon,
.imageIcon1 {
  top: 3680px;
  left: 212px;
}
.imageIcon1 {
  top: 3323px;
  left: 713px;
}
.frameChild,
.frameItem {
  position: absolute;
  border-radius: 50%;
}
.frameChild {
  top: 0;
  left: 0;
  background-color: var(--background-color);
  border: 0 solid var(--primary);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.frameItem {
  width: calc(100% - 26.5px);
  top: 12.8px;
  right: 12.7px;
  left: 13.8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--primary);
  height: 69.3px;
  z-index: 2;
}
.ellipseParent,
.spotlight1Icon {
  position: absolute;
  top: 2462px;
  left: 391px;
  width: 95.8px;
  height: 95.8px;
}
.spotlight1Icon {
  top: 2627px;
  left: 227px;
  width: 634px;
  height: 357px;
  object-fit: cover;
  z-index: 1;
}
.footer {
  width: 1017px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 1px;
}
.dailySpotlightMonthly,
.spotlightMonthly {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.spotlightMonthly {
  width: 1030px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 3156px;
  gap: var(--gap-79xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-bold);
}
.dailySpotlightMonthly {
  width: 100%;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-380xl) var(--padding-xl) 247px var(--padding-13xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .spotlightMonthly {
    padding-bottom: 866px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .showcasingYourAchievements,
  .storyDescription {
    flex: 1;
  }
  .storyShowcase {
    flex-wrap: wrap;
  }
  .thankYouFor {
    font-size: var(--font-size-5xl);
  }
  .socialMediaCall {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .communityMessageWrapper {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .spotlightMonthly {
    gap: var(--gap-30xl);
    padding-bottom: 563px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .showcaseTypes {
    flex-wrap: wrap;
  }
  .storyShowcase {
    gap: var(--gap-xl);
  }
  .featureTypes {
    gap: var(--gap-19xl);
  }
  .spotlightMonthly {
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 450px) {
  .featureVideos,
  .highlightYourStartup,
  .interviews,
  .podcast,
  .shareYourJourney,
  .showcasingYourAchievements,
  .startupStories {
    font-size: var(--font-size-base);
  }
  .featureItem {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .featureArticles,
  .featureYourBrand {
    font-size: var(--font-size-base);
  }
  .featureArticlesWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .featureYourBrand1 {
    font-size: var(--font-size-base);
  }
  .featureTypes {
    gap: var(--gap-lgi);
  }
  .thankYouFor {
    font-size: var(--font-size-lg);
  }
  .joinOurCommunity {
    font-size: var(--font-size-base);
  }
  .communityMessage {
    gap: var(--gap-6xl);
  }
  .spotlightMonthly {
    padding-bottom: 366px;
    box-sizing: border-box;
  }
}
.whatsNextChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  display: none;
}
.greatNews,
.thankYouFor,
.whatsNext1 {
  margin: 0;
  position: absolute;
  font-size: inherit;
  font-weight: 400;
  display: inline-block;
  z-index: 1;
}
.greatNews {
  top: 349px;
  left: 389px;
  font-family: var(--font-aktivgrotesk-medium);
  width: 240px;
  height: 46px;
}
.thankYouFor,
.whatsNext1 {
  top: 838px;
  left: 362px;
  font-family: inherit;
  width: 232px;
  height: 57px;
}
.thankYouFor {
  top: 1561px;
  left: 224px;
  width: 549px;
}
.yourJobListing {
  top: 395px;
  left: 170px;
  font-size: var(--font-size-xl);
  font-family: var(--font-aktivgrotesk-regular);
  color: var(--text-secondary);
  width: 678px;
  height: 76px;
}
.hiShashankRawat,
.weAppreciateYour,
.yourJobListing {
  position: absolute;
  display: inline-block;
  z-index: 1;
}
.hiShashankRawat {
  margin: 0;
  top: 301px;
  left: 384px;
  font-size: inherit;
  font-weight: 400;
  font-family: var(--font-aktivgrotesk-medium);
  color: var(--primary);
  text-align: left;
  width: 299px;
  height: 39px;
}
.weAppreciateYour {
  top: 1626px;
  left: 67px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-aktivgrotesk-regular);
  color: var(--text-secondary);
  text-align: center;
  width: 884px;
  height: 84px;
}
.thankYou,
.thankYou1 {
  position: absolute;
  top: 1068px;
  left: 157px;
  border-top: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 693px;
  height: 1px;
  z-index: 2;
}
.thankYou1 {
  top: 1245px;
}
.frameChild {
  height: 69px;
  width: 291px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--background-color);
  border: 1px solid var(--primary);
  box-sizing: border-box;
  display: none;
}
.manageJobs {
  flex: 1;
  position: relative;
  z-index: 1;
}
.rectangleParent {
  position: absolute;
  top: 1459px;
  left: 353px;
  border-radius: var(--br-xl);
  background-color: var(--background-color);
  border: 1px solid var(--primary);
  box-sizing: border-box;
  width: 291px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-14xl) var(--padding-xs);
  white-space: nowrap;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--primary);
}
.icon {
  position: absolute;
  top: 1276px;
  left: 194px;
  width: 150px;
  height: 150px;
  object-fit: contain;
  z-index: 2;
}
.whatsNext {
  height: 7195px;
  width: 1017px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--background-color);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-bold);
}
.jobIsLive {
  width: 100%;
  height: 7730px;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-380xl) var(--padding-xl) 136px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 825px) {
  .greatNews,
  .hiShashankRawat,
  .thankYouFor,
  .whatsNext1 {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 675px) {
  .whatsNext {
    min-height: 7195;
  }
  .jobIsLive,
  .whatsNext {
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .greatNews,
  .thankYouFor,
  .whatsNext1 {
    font-size: var(--font-size-lg);
  }
  .yourJobListing {
    font-size: var(--font-size-base);
  }
  .hiShashankRawat {
    font-size: var(--font-size-lg);
  }
  .weAppreciateYour {
    font-size: var(--font-size-lgi);
  }
}
.accessToWide {
  width: 1063px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.accessToWidePoolOfStudentWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 81.7px 73px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-xbold);
}
.forStudents {
  margin: 0;
  width: 314px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.forStudentsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 24.7px 82px;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-xbold);
}
.networkingOpportunities {
  width: 399px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.networkingTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 7.7px 611px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
}
.byConnectingWith {
  height: 161px;
  width: 514px;
  position: relative;
  line-height: 22.4px;
  display: inline-block;
  flex-shrink: 0;
  min-height: 161px;
  max-width: 100%;
}
.networkingDescription {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 64.7px 726px;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-regular);
}
.divider,
.dividerWrapper,
.networkingDescription {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.divider {
  width: 629px;
  position: relative;
  border-top: 1px solid var(--primary);
  z-index: 1;
}
.dividerWrapper {
  height: 215.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xl) 214.7px;
  margin-top: -1.7px;
}
.additionalBenefits {
  width: 353px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.additionalBenefitsTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 12.7px 125px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: center;
  font-size: var(--font-size-21xl);
  font-family: var(--font-aktivgrotesk-medium);
}
.forStartups {
  margin: 0;
  width: 314px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.forStartupsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 42.7px 138px;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-xbold);
}
.keyBenefitsFor {
  width: 449px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.keyBenefitsForStartupsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-54xl-7) 139px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-medium);
}
.globalExpansionOpportunities {
  width: 484px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.expansion {
  width: 794px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 6.7px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
}
.breakingDownGeographic {
  width: 545px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.barriers {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-34xl) 10.7px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
}
.networkStartupsCan {
  height: 115px;
  width: 514px;
  position: relative;
  line-height: 22.4px;
  display: inline-block;
  flex-shrink: 0;
  min-height: 115px;
  max-width: 100%;
}
.barriersDescription {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 162.7px 778px;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-regular);
}
.barriersDescription,
.callToAction,
.callToActionWrapper {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.callToAction {
  width: 629px;
  position: relative;
  border-top: 1px solid var(--primary);
  z-index: 1;
}
.callToActionWrapper {
  height: 160.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 159.7px 202px;
  margin-top: -1.7px;
}
.readyToTake {
  width: 1120px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.first {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-54xl-7);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-xbold);
}
.exploreBigstartupsNetworks {
  width: 944px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.exploreBigstartupsNetworksWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 80.7px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-regular);
}
.buttonContainerChild {
  height: 75px;
  width: 445px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--primary);
  display: none;
  max-width: 100%;
}
.joinNow {
  width: 146px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.buttonContainer {
  width: 445px;
  border-radius: var(--br-21xl);
  background-color: var(--primary);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-xl);
  white-space: nowrap;
  max-width: 100%;
}
.buttonContainer,
.networkCTA,
.workWithStartups {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.networkCTA {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
  color: var(--background-color);
  font-family: var(--font-aktivgrotesk-xbold);
}
.workWithStartups {
  width: 100%;
  position: relative;
  background-color: var(--background-color);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 4285px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-bold);
}
@media screen and (max-width: 1350px) {
  .accessToWidePoolOfStudentWrapper {
    padding-left: var(--padding-17xl);
    box-sizing: border-box;
  }
  .barriersDescription,
  .networkingDescription {
    padding-left: 363px;
    box-sizing: border-box;
  }
  .barriersDescription {
    padding-left: 389px;
  }
}
@media screen and (max-width: 1125px) {
  .callToActionWrapper,
  .networkingTitle {
    padding-left: 305px;
    box-sizing: border-box;
  }
  .callToActionWrapper {
    padding-left: 101px;
  }
}
@media screen and (max-width: 800px) {
  .accessToWide {
    font-size: var(--font-size-13xl);
  }
  .forStudents {
    font-size: var(--font-size-19xl);
  }
  .networkingOpportunities {
    font-size: var(--font-size-7xl);
  }
  .networkingTitle {
    padding-left: 152px;
    box-sizing: border-box;
  }
  .networkingDescription {
    padding-left: 181px;
    box-sizing: border-box;
  }
  .additionalBenefits {
    font-size: var(--font-size-13xl);
  }
  .additionalBenefitsTitle {
    padding-left: var(--padding-43xl);
    box-sizing: border-box;
  }
  .forStartups {
    font-size: var(--font-size-19xl);
  }
  .forStartupsWrapper {
    padding-left: var(--padding-50xl);
    box-sizing: border-box;
  }
  .keyBenefitsFor {
    font-size: var(--font-size-10xl);
  }
  .keyBenefitsForStartupsWrapper {
    padding-left: var(--padding-50xl);
    box-sizing: border-box;
  }
  .breakingDownGeographic,
  .globalExpansionOpportunities {
    font-size: var(--font-size-7xl);
  }
  .barriers {
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
  .barriersDescription {
    padding-left: 194px;
    box-sizing: border-box;
  }
  .exploreBigstartupsNetworks,
  .readyToTake {
    font-size: var(--font-size-10xl);
  }
}
@media screen and (max-width: 450px) {
  .accessToWide {
    font-size: var(--font-size-5xl);
  }
  .forStudents {
    font-size: var(--font-size-10xl);
  }
  .forStudentsWrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .networkingOpportunities {
    font-size: var(--font-size-lgi);
  }
  .networkingTitle {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .byConnectingWith {
    font-size: var(--font-size-base);
  }
  .networkingDescription {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .additionalBenefits {
    font-size: var(--font-size-5xl);
  }
  .forStartups {
    font-size: var(--font-size-10xl);
  }
  .keyBenefitsFor {
    font-size: var(--font-size-3xl);
  }
  .keyBenefitsForStartupsWrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .breakingDownGeographic,
  .globalExpansionOpportunities {
    font-size: var(--font-size-lgi);
  }
  .networkStartupsCan {
    font-size: var(--font-size-base);
  }
  .barriersDescription,
  .callToActionWrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .exploreBigstartupsNetworks,
  .readyToTake {
    font-size: var(--font-size-3xl);
  }
}
