@import url("https://fonts.googleapis.com/css2?family=AktivGrotesk-Black:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=AktivGrotesk-Regular:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=AktivGrotesk-Bold:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=AktivGrotesk-Medium:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=AktivGrotesk-XBold:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
