.accessToWide {
  width: 1063px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.accessToWidePoolOfStudentWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 81.7px 73px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-xbold);
}
.forStudents {
  margin: 0;
  width: 314px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.forStudentsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 24.7px 82px;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-xbold);
}
.networkingOpportunities {
  width: 399px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.networkingTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 7.7px 611px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
}
.byConnectingWith {
  height: 161px;
  width: 514px;
  position: relative;
  line-height: 22.4px;
  display: inline-block;
  flex-shrink: 0;
  min-height: 161px;
  max-width: 100%;
}
.networkingDescription {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 64.7px 726px;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-regular);
}
.divider,
.dividerWrapper,
.networkingDescription {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.divider {
  width: 629px;
  position: relative;
  border-top: 1px solid var(--primary);
  z-index: 1;
}
.dividerWrapper {
  height: 215.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xl) 214.7px;
  margin-top: -1.7px;
}
.additionalBenefits {
  width: 353px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.additionalBenefitsTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 12.7px 125px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: center;
  font-size: var(--font-size-21xl);
  font-family: var(--font-aktivgrotesk-medium);
}
.forStartups {
  margin: 0;
  width: 314px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.forStartupsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 42.7px 138px;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-xbold);
}
.keyBenefitsFor {
  width: 449px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.keyBenefitsForStartupsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-54xl-7) 139px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-medium);
}
.globalExpansionOpportunities {
  width: 484px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.expansion {
  width: 794px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 6.7px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
}
.breakingDownGeographic {
  width: 545px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.barriers {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-34xl) 10.7px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
}
.networkStartupsCan {
  height: 115px;
  width: 514px;
  position: relative;
  line-height: 22.4px;
  display: inline-block;
  flex-shrink: 0;
  min-height: 115px;
  max-width: 100%;
}
.barriersDescription {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 162.7px 778px;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-regular);
}
.barriersDescription,
.callToAction,
.callToActionWrapper {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.callToAction {
  width: 629px;
  position: relative;
  border-top: 1px solid var(--primary);
  z-index: 1;
}
.callToActionWrapper {
  height: 160.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 159.7px 202px;
  margin-top: -1.7px;
}
.readyToTake {
  width: 1120px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.first {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-54xl-7);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-xbold);
}
.exploreBigstartupsNetworks {
  width: 944px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.exploreBigstartupsNetworksWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 80.7px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-regular);
}
.buttonContainerChild {
  height: 75px;
  width: 445px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--primary);
  display: none;
  max-width: 100%;
}
.joinNow {
  width: 146px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.buttonContainer {
  width: 445px;
  border-radius: var(--br-21xl);
  background-color: var(--primary);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-xl);
  white-space: nowrap;
  max-width: 100%;
}
.buttonContainer,
.networkCTA,
.workWithStartups {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.networkCTA {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1.7px;
  color: var(--background-color);
  font-family: var(--font-aktivgrotesk-xbold);
}
.workWithStartups {
  width: 100%;
  position: relative;
  background-color: var(--background-color);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 4285px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-aktivgrotesk-bold);
}
@media screen and (max-width: 1350px) {
  .accessToWidePoolOfStudentWrapper {
    padding-left: var(--padding-17xl);
    box-sizing: border-box;
  }
  .barriersDescription,
  .networkingDescription {
    padding-left: 363px;
    box-sizing: border-box;
  }
  .barriersDescription {
    padding-left: 389px;
  }
}
@media screen and (max-width: 1125px) {
  .callToActionWrapper,
  .networkingTitle {
    padding-left: 305px;
    box-sizing: border-box;
  }
  .callToActionWrapper {
    padding-left: 101px;
  }
}
@media screen and (max-width: 800px) {
  .accessToWide {
    font-size: var(--font-size-13xl);
  }
  .forStudents {
    font-size: var(--font-size-19xl);
  }
  .networkingOpportunities {
    font-size: var(--font-size-7xl);
  }
  .networkingTitle {
    padding-left: 152px;
    box-sizing: border-box;
  }
  .networkingDescription {
    padding-left: 181px;
    box-sizing: border-box;
  }
  .additionalBenefits {
    font-size: var(--font-size-13xl);
  }
  .additionalBenefitsTitle {
    padding-left: var(--padding-43xl);
    box-sizing: border-box;
  }
  .forStartups {
    font-size: var(--font-size-19xl);
  }
  .forStartupsWrapper {
    padding-left: var(--padding-50xl);
    box-sizing: border-box;
  }
  .keyBenefitsFor {
    font-size: var(--font-size-10xl);
  }
  .keyBenefitsForStartupsWrapper {
    padding-left: var(--padding-50xl);
    box-sizing: border-box;
  }
  .breakingDownGeographic,
  .globalExpansionOpportunities {
    font-size: var(--font-size-7xl);
  }
  .barriers {
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
  .barriersDescription {
    padding-left: 194px;
    box-sizing: border-box;
  }
  .exploreBigstartupsNetworks,
  .readyToTake {
    font-size: var(--font-size-10xl);
  }
}
@media screen and (max-width: 450px) {
  .accessToWide {
    font-size: var(--font-size-5xl);
  }
  .forStudents {
    font-size: var(--font-size-10xl);
  }
  .forStudentsWrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .networkingOpportunities {
    font-size: var(--font-size-lgi);
  }
  .networkingTitle {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .byConnectingWith {
    font-size: var(--font-size-base);
  }
  .networkingDescription {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .additionalBenefits {
    font-size: var(--font-size-5xl);
  }
  .forStartups {
    font-size: var(--font-size-10xl);
  }
  .keyBenefitsFor {
    font-size: var(--font-size-3xl);
  }
  .keyBenefitsForStartupsWrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .breakingDownGeographic,
  .globalExpansionOpportunities {
    font-size: var(--font-size-lgi);
  }
  .networkStartupsCan {
    font-size: var(--font-size-base);
  }
  .barriersDescription,
  .callToActionWrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .exploreBigstartupsNetworks,
  .readyToTake {
    font-size: var(--font-size-3xl);
  }
}
